_activations_old/*
*.ipynb
*.pyc
*.egg-info
.specstory/
task_tracker/dataset_creation/datasets/*
task_tracker/dataset_creation/dataset_sampled/*.json
logs/*
task_tracker/training/linear_probe/*
task_tracker/evaluation/visualizations/*
task_tracker/output_dir/*